// FONT FAMILY IMPORT
@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

@import "header.scss";
@import "body.scss";
@import "footer.scss";
@import "colors.scss";

// WILD_CARD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

// // VARIABLES COLORS
// $primary-color: #9356dc;
// $secondary-color: #ff79da;
// $tertiary-color: #99e2d0;
// $light-grey: #f6f6f6;
// $green: #008766;
// $background-gradient: linear-gradient(
//   0deg,
//   rgba(147, 86, 220, 1) 0%,
//   rgba(255, 121, 218, 1) 100%
// );


// //  MIXINS
// @mixin generic-btn {
//   border-radius: 25px;
//   border: none;
//   padding: 15px 20px;
//   margin: auto;
//   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
// }

// @mixin display-column {
//   display: flex;
//   flex-direction: column;
// }

// @mixin display-row {
//   display: flex;
//   flex-wrap: wrap;
// }

// @mixin display-center {
//   display: flex;
//   justify-content: center;
// }

// @mixin header-shadow {
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
// }

body {
  font-family: "Roboto", sans-serif;
}

// // MOBILE DISPLAY HEADER
// .header {
//   &__logo {
//     @include header-shadow;
//     font-family: "Shrikhand", cursive;
//     text-align: center;
//     padding: 13px 0;
//     position: relative;
//     z-index: 1;
//   }
// }
// // DESKTOP DISPLAY HEADER
// @media (min-width: 1440px) {
//   .header {
//     &__logo {
//       padding: 0;
//       margin: 30px 0;
//       box-shadow: none;
//     }
//   }
// }

// // MOBILE DISPLAY BANNER_LOCATION 
// .bannerLocation {
//   @include display-center;
//   @include header-shadow;
//   align-items: center;
//   gap: 17px;
//   padding: 15px;
//   background-color: darken($color: $light-grey, $amount: 5);
//   position: relative;
//   &__txt {
//     font-weight: 500;
//   }
// }

// // DESKTOP BANNER_LOCATION 
// @media (min-width: 1440px) {
//   .bannerLocation {
//     box-shadow: none;
//   }
// }

// // MOBILE DISPLAY RESERVATION
// .reservation {
//   @include display-column;
//   gap: 30px;
//   text-align: center;
//   padding: 30px 50px;
//   background-color: $light-grey;
//   .reservation__txt {
//     color: darken($color: $light-grey, $amount: 80);
//     font-weight: 300;
//     font-size: 18px;
//   }
//   .reservation__btn {
//     @include generic-btn;
//     background: $background-gradient;
//     color: white;
//     cursor: pointer;
//     opacity: 1;
//     transition: 350ms 100ms;
//     &:hover {
//       opacity: 0.8;
//       box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
//     }
//   }
// }

// // DESKTOP DISPLAY RESERVATION
// @media (min-width: 1440px) {
//   .reservation__title {
//     font-size: 40px;
//   }
// }

// // MOBILE DISPLAY FUNCTIONNING
// .functionning {
//   @include display-column;
//   gap: 30px;
//   padding: 20px;
//   margin: 50px 0;
//   .functionning__btn {
//     @include generic-btn;
//     @include display-center;
//     border-radius: 20px;
//     padding: 30px;
//     margin: 0;
//     gap: 20px;
//     font-size: 16px;
//     position: relative;

//     &--numbers {
//       position: absolute;
//       left: -10px;
//       padding: 5px 10px;
//       border-radius: 50%;
//       color: white;
//       background-color: $primary-color;
//     }
//   }
//   .fa-solid {
//     color: darken($color: $light-grey, $amount: 50);
//     font-size: larger;
//   }
//   .fa-solid:hover {
//     color: $primary-color;
//   }
// }

// // DESKTOP DISPLAY FUNCTIONNING
// @media (min-width: 1440px) {
//   .functionning {
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin: 50px 180px;
//     &__title {
//       width: 100%;
//     }
//     &__btn {
//       position: relative;
//       width: 31%;
//     }
//   }
// }

// // MOBILE DISPLAY RESTAURANT
// .restaurant {
//   @include display-column;
//   background-color: $light-grey;
//   gap: 20px;
//   padding: 20px;
//   padding-bottom: 100px;
//   .restaurant__card {
//     position: relative;
//     &--img {
//       width: 100%;
//       height: 200px;
//       border-radius: 20px 20px 0 0;
//       object-fit: cover;
//     }
//     &--newTxt {
//       position: absolute;
//       top: 10px;
//       right: 10px;
//       background-color: $tertiary-color;
//       color: $green;
//       padding: 5px 10px;
//       border-radius: 2px;
//     }
//     &--txt {
//       font-weight: 300;
//       margin-top: -4px;
//       display: flex;
//       flex-direction: column;
//       gap: 5px;
//       position: relative;
//       background-color: white;
//       padding: 10px 15px;
//       border-radius: 0 0 20px 20px;
//     }
//   }
//   .fa-solid {
//     position: absolute;
//     right: 30px;
//     top: 20px;
//     font-size: 25px;
//     background: $background-gradient;
//     color: transparent;
//     background-clip: text;
//     opacity: 0;
//     transition: 350ms 100ms;
//     &:hover {
//       opacity: 1;
//     }
//   }
//   .fa-regular {
//     position: absolute;
//     right: 30px;
//     top: 20px;
//     font-size: 25px;
//   }
// }

// // DESKTOP DISPLAY RESTAURANT
// @media (min-width: 1440px) {
//   .restaurant {
//     @include display-row;
//     padding: 30px 13%;
//     &__display {
//       display: flex;
//       flex-direction: row;
//       gap: 0 100px;
//     }
//     &__card {
//       width: 50%;
//     }
//   }
// }

// // MOBILE DISPLAY FOOTER
// .footer {
//   @include display-column;
//   gap: 20px;
//   background-color: darken($color: $light-grey, $amount: 80);
//   padding: 25px;
//   color: white;
//   &__logo {
//     font-family: "Shrikhand", cursive;
//     padding-bottom: 16px;
//     font-size: large;
//   }
//   .footer__container {
//     display: flex;
//     gap: 10px;
//   }
//   .ustensil {
//     gap: 15px;
//   }
// }
// // DESKTOP DISPLAY FOOTER
// @media (min-width: 1440px) {
//   .footer {
//     flex-direction: row;
//     justify-content: flex-end;
//     padding: 50px 50px 30px 50px;
//     align-items: center;
//     &__container.space {
//       margin-right: 30px;
//     }

//     &__logo {
//       order: 1;
//       padding: 0;
//       padding-left: 60px;
//     }
//   }
// }
